header {
  display:  block;
}

h1 {
font-size: 30px;
font-weight: bold;
text-align: center;
width: 67%;
}

body {
  background-color: #4ECDC4;
  font-family: 'Open Sans', sans-serif;
  margin: 15px 0 0 30px;
}


.gamepic img{
margin-left: 3.5%;
/* padding: 5px; */
/* margin-right: 3%; */
cursor: pointer;
opacity: 0.5;
transition: 1s opacity ease;
}

.gamepic img:hover{
  opacity: 1;
}

#results ol{
  background: #556270;
  color: #C7F464;
  border-radius: 10px;
  padding: 5px;
  width: 71%;
  margin-bottom: 10px;
}
