body {
  background-color: #4ECDC4;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display:  block;
  height: 70px;
  width: 100%;
  background-color: #556270;
  color: #C7F464;
}

h1, h2 {
font-weight: bold;
text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 22px;
}

.gamepic{
  width: 100%;
}

.gamepic img{
margin-left: 3.5%;
padding: 5px; 
margin-right: 3%; 
cursor: pointer;
opacity: 0.5;
transition: 1s opacity ease;
}

.gamepic img:hover{
  opacity: 1;
}

#results li {
  margin-bottom: 10px;
  background: #556270;
  border-radius: 10px;
  list-style-type: none;
  /*margin-left: 120px;*/
  color: #C7F464;
  text-align: center;
  margin-right: 90px;
}

footer {
  position: absolute;
  bottom: 0px;
  padding: 0px 20px 20px 20px;
  width: 100%;
  background-color: #556270;
  color: #C7F464;
}

footer a:visited{
  color: #FF6B6B;
}

footer img{
  padding: 20px;
}

